@font-face {
    font-family: "CustomFont";
    src: url("BebasNeue-Regular.ttf");
}

@import url("https://fonts.googleapis.com/css?family=Lato:100&display=swap");
html {
    font-family: "CustomFont";
}

body {
    margin: 0;
}

#body {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#score-p {
    font-size: 32px;
    width: fit-content;
    margin: 0;
}

#score {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    position: absolute;
    z-index: 3;
    right: 0;
    left: 0;
    top: 0;
    margin-top: 15px;
}

canvas {
    margin: 0;
}

#GAMEOVER {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 4;
}

#GAMEOVER-score {
    text-align: center;
    margin: 0;
    font-size: 37px;
}

#GAMEOVER-p {
    font-size: 60px;
    margin: 0;
}

.GAMEOVER-hidden {
    display: none;
}

.score-hidden {
    display: none;
}

#playagain {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#play-button {
    font-family: "CustomFont";
}

.container {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

#text-playagain {
    color: black;
}

.btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    outline: none;
    transition: 1s ease-in-out;
}

.btn:hover {
    transition: 1s ease-in-out;
    background: #bbbbbb;
}

.btn:hover svg {
    stroke-dashoffset: -480;
}

.btn span {
    font-family: "CustomFont";
    font-size: 24px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.topnav {
    background-color: #15a1cf;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #00678a;
    color: #16a1cf;
}

.topnav a.active {
    background-color: #005470;
    color: white;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: "";
    background: linear-gradient( 45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(23, 30, 56);
    left: 0;
    top: 0;
    border-radius: 5px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}